<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Serverless DevOps</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
<header>
    <div
            style="text-align: left;">
        <button onclick="location.href='{% url 'dashboard' %}';">Home
        </button>
    </div>
    <h1>Serverless DevOps Platform</h1>
</header>
<main>
    {% block content %}
    {% endblock %}
</main>
<footer>
    <div style="text-align: left;">
        <button onclick="history.back()">Back</button>
        <button
                onclick="history.forward()">Forward
        </button>
    </div>
</footer>
</body>
</html>
