{% extends 'base.html' %}

{% block content %}
<h2>Dashboard</h2>
<table>
    <tr>
        <th>Function Name</th>
        <th>Status</th>
        <th>Last Deployed</th>
        <th>Output</th>  <!-- New column for output -->
        <th>Actions</th>
    </tr>
    <tbody>
    {% for function in functions %}
    <tr>
        <td>{{ function.name }}</td>
        <td>{{ function.status }}</td>
        <td>{{ function.last_deployed|date:"Y-m-d H:i" }}</td>
        <td>
            {% if function.output %}
            <button onclick="location.href='{% url 'output_function' function.id %}';" type="button">Check Output
            </button>
            {% elif function.status == 'DEPLOYED' %}
            Build success
            <button onclick="location.href='{% url 'function_build_logs' function.id %}';" type="button">Build logs
            </button>
            {% else %}
            No output yet
            {% endif %}
        </td>
        <td>
            {% if function.status != 'DEPLOYED' %}
            <a href="{% url 'deploy_function' function.id %}">Deploy</a>
            {% else %}
            Deployed
            {% endif %}
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="5">No functions deployed yet.</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<button onclick="location.href='{% url 'upload_function' %}';" type="button">create function</button>
<br><br>
{% endblock %}
