{% extends 'base.html' %}

{% block content %}

<h2>Function : {{ function.name }} , last run at : {{ function.last_deployed }}</h2>

<h3>Output</h3>

<pre style="height: 25pc; overflow-y: scroll; background:black; color:white;">
  {% if logs %}
  {{ logs }}
            {% else %}
            {{ function.output }}
            {% endif %}
</pre>
<br>
            <button onclick="location.href='{% url 'pod_logs' function.id 0 %}';" type="button">Running logs
            </button>
<br><br>
{% endblock %}